bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/
global.json

GamePlay.Web/wwwroot/gameCovers/*
GamePlay.Web/wwwroot/avatars/*

!GamePlay.Web/wwwroot/gameCovers/default-game-cover.jpg
!GamePlay.Web/wwwroot/avatars/default-user-avatar.jpg