@model UserRelationResponseModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="card">
    <div class="d-flex">
        <img src="@Model.Subscriber.PhotoPath" alt="">
    </div>
</div>