html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.form-group{
  margin-bottom: 15px;
}

.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  font-size: 40px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

.rating > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

.show-result > label {
  cursor: default;
}

.choose > label:hover,
.choose > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent;
}

.choose > label:hover:before,
.choose > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
}

.user-dashboard-info-box .candidates-list .thumb {
  margin-right: 20px;
}
.user-dashboard-info-box .candidates-list .thumb img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.user-dashboard-info-box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
}

.user-dashboard-info-box .candidates-list td {
  vertical-align: middle;
}

.user-dashboard-info-box td li {
  margin: 0 4px;
}

.user-dashboard-info-box .table thead th {
  border-bottom: none;
}

.table.manage-candidates-top th {
  border: 0;
}

.user-dashboard-info-box {
  margin-bottom: 10px;
}

.table.manage-candidates-top {
  min-width: 650px;
}

.user-dashboard-info-box .candidate-list-details ul {
  color: #969696;
}

/* Candidate List */
.candidate-list {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.candidate-list:hover {
  -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  position: relative;
  z-index: 99;
}
.candidate-list:hover {
  color: #e74c3c;
  -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
  box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
}

.candidate-list .candidate-list-image {
  margin-right: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  border: none;
}
.candidate-list .candidate-list-image img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
}

.candidate-list-title {
  margin-bottom: 5px;
}

.candidate-list-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.candidate-list-option {
  margin: 5px 10px 5px 0px;
  font-size: 13px;
}

.candidate-list {
  margin-left: auto;
  text-align: center;
  font-size: 13px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
}
.candidate-list span {
  display: block;
  margin: 0 auto;
}
.candidate-list {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: 1px solid #eeeeee;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  font-size: 16px;
  color: #646f79;
}
.candidate-list {
  background: #ffffff;
  color: #e74c3c;
}

.candidate-banner .candidate-list:hover {
  position: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  z-index: inherit;
}

.bg-white {
  background-color: #ffffff !important;
}
.p-4 {
  padding: 1.5rem!important;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.user-dashboard-info-box .candidates-list .thumb {
  margin-right: 20px;
}



.profile-card{
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #fff;
  position: relative;
  width: 400px;
}

.upper{
  height: 100px;
}

.user{
  position: relative;
}

.profile img{
  height: 160px;
  width: 160px;
  margin-top:2px;
  object-fit: cover;
}

.profile{
  height: 170px;
  width: 170px;
  border:3px solid #fff;
  border-radius: 50%;
}

.follow{
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
}

.stats span{
  font-size: 29px;
}