@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: #E0E0E2;
}

a {
    text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  min-height: 100vh; 
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #181818e1;
    border-radius: 5%;
    color: white;
}

section a{
    color: white;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border-color: white;
}

.auth-form label, .auth-form
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

body {
    margin-bottom: 60px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.form-group {
    margin-bottom: 15px;
}

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.notification-dot {
    height: 12px;
    width: 12px;
    background-color: #a11f1f;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-block;
    position: relative;
    top: -8px;
    left: -8px;
}

.error
{
    border: 1px solid red;
}

.persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.persistCheck label {
    margin: 0;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}

header a{
    color: white;
}

.bell{
    padding: 0;
    margin: 12px;
    color: "#dde0e3";
    cursor: pointer;
}